// //Old
// @include sticky-footer(75px, ".content-fullscreen", "#footer-fullscreen");
//
//Old
footer{
   display: inline-block;
   width: 100%;
   @media screen and (max-width: 940px){
      text-align: center;
   }
}
