//Old
.navigation {
  // @media screen and ($bp-smaller-than-tablet) {
  //   text-align: center;
  // }
  text-align: center;
  margin-bottom: 20px;
  @media screen and ($bp-smaller-than-tablet){
     margin-bottom: 0px;
 }
  #mobileLogo{
     display: none;
     @media screen and ($bp-smaller-than-tablet){
        display: inline-block;
     }
     img{
        max-height: 120px;
     }
 }
  a#menuTrigger{
     font-family: $ag-demi;
     text-align: center;
     line-height: 36px;
   color: $white;
   font-size: 1.8rem;
     display: none;
     letter-spacing: 2.4px;
     @media screen and ($bp-smaller-than-tablet){
        display: block;
     }
     &::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $offwhite;
        transition: transform 0.4s ease-in-out;
     }
     &:hover{
        text-decoration: none;
     }
    }
	ul {
      &.menu{
         @media screen and ($bp-smaller-than-tablet){
            display: none;
         }
      }
		li {
         list-style-type: none;
			margin-bottom: 0px;
         padding: 0 20px;
         transition: all 0.2s ease-in-out;
         position: relative;
         &::after{
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $offwhite;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            transition: -webkit-transform 0.4s ease-in-out;
            transition: transform 0.4s ease-in-out;
         }
         &:hover{
            // background-color: $white;
            &::after{
               -webkit-transform: translateX(0);
               transform: translateX(0);
            }
         }
         &.current-menu-item{
            &::after{
               -webkit-transform: translateX(0);
               transform: translateX(0);
            }
         }
			a {
            font-family: $ag-demi;
            display: block;
            line-height: 36px;
				color: $white;
				// text-transform: uppercase;
            // font-weight: 900;
            letter-spacing: 2.4px;
            font-size: 1.5rem;
            &:hover{
               text-decoration: none;
            }
            @media screen and ($bp-smaller-than-tablet){
               text-align: center;
            }
			}
		}
	}

}

//Old Menus
.sidebar {
   padding: 10px 0 14px 0;
  // border: 4px solid black;
  // background: $white;
  margin-bottom: 1rem;
  // top: 210px;
  border-radius: $radius;
  overflow: hidden;
  @media screen and ($bp-smaller-than-tablet){
     margin-bottom: 0px;
 }
}

// .home {
//   .sidebar {
//     @media screen and ($bp-smaller-than-tablet) {
//       // display: none;
//     }
//   }
// }

.logo {

  // margin: em(30) 0 0;
  margin-bottom: 10px;
  padding-top: 15px;
  // border: 4px solid black;
  text-align: center;
  // background: $white;
  z-index: 100;
  border-radius: $radius;
  img {
      max-width: 65%;
  }
  @media screen and ($bp-smaller-than-tablet){
     display: none;
 }

}

// @media only screen and (max-width:769px){
//   .logo{
//       img{
//         max-width:75%;
//       }
//   }
// }

.home {
  // .logo {
  //   @media screen and ($bp-smaller-than-tablet) {
  //     top: 2px;
  //     display: none;
  //
  //   }
  // }
}
//Old
